/* Style.css */
.icon svg,
.toggle svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon {
    transform: translateY(1px);
}

.children {
    padding-left: 23px;
}

.children {
    padding-left: 23px;
    overflow: hidden;  /* Lisäämäni rivi */
    max-height: 0;     /* Lisäämäni rivi */
    transition: max-height 0.15s ease-in-out;  /* Lisäämäni rivi */
}

.children.visible {
    max-height: 1000px;  /* Lisäämäni rivi */
}

.node > span, .node > .icon, .node > input[type="checkbox"], .node > .toggle {
    display: inline-block;
    vertical-align: middle;
}

.node > input[type="checkbox"] {
    margin-right: 7px;
}

.node > .icon {
    margin-right: 5px;
}

.node > .toggle {
    transform: rotate(-90deg);
    margin-right: 5px;
    transform-origin: center;
    transition: transform 0.15s;
}

.node > .toggle.rotated {
    transform: rotate(0deg);
}

.node {
    background-color: white;
    width: fit-content;
    cursor: pointer;
    padding-left: 2px;
}

body {
    background-color: #333;
}